.app{
  text-align: center;
}

.container {  
  padding: 50px;  
background-color: lightblue;  
}  

.form-control{
  border-style: inset;
  border-radius: 10px;
  border-color: brown;
}

.btn{
  border-style: inset;
  border-radius: 10px;
  border-color: brown;
}

.btn:hover{
    background-color: burlywood;
}
input:hover{
    background-color: burlywood;
}

h4{
  color: brown;
}

label{
  color: crimson;
}

.card{
  display: flex;
  align-content: center;
  justify-content: center;
  margin: auto;
}

